<!DOCTYPE html>
<html>
  <head>
    <title>RubyCommentComponent</title>
    <%= csrf_meta_tags %>
    <%= html_import_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style is="custom-style">
      :root {
         --iron-autogrow-textarea: {
         };
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
